<div class="container">
  <div class="card-container">
      <% colors = ['#B9302A', '#0363B6', '#E8B503'] %>
      <% color_step = 0; %>
    <% @artists.each do |artist| %>
      <% card_color = colors[color_step] %>
      <% color_step += 1 %>
      <% color_step = 0 if color_step > 2 %>
      <a class="artist-card" href='/artists/<%=artist.id%>'>
        <div class="tiles">
          <div class="color-tile" style="background: <%= card_color %>"></div>
        </div>
          <img src="<%= cl_image_path artist.photos[0].key %>" alt="artist photo" class="main-img">

          <div class="rating" style="color: <%= card_color %>">★6.9</div>

          <div id="artist-name-tags">
            <div>
              <h2><%= artist.user.first_name %></h2>
              <p class="tags" style="color: <%= card_color %>">#this#that#who#what#where</p>
            </div>
          </div>
          <div id="artist-location-genre">
            <h3 style="color: <%= card_color %>">London</h3>
            <div class='line' style="background: <%= card_color %>"></div>
            <h4 style="color: <%= card_color %>"><%= artist.genre %></h4>
          </div>
          <i class="fa-regular fa-heart"></i>
      </a>
    <% end %>
  </div>















</div>
