<div class="container">
<h1>Siuuuuuuuuuu</h1>
  <%= simple_form_for @artist do |f| %>
    <%= f.input :name %>
    <%= f.input :is_group, label: 'Are you a group?' %>
    <%= f.input :genre %>
    <%= f.input :description %>
    <%= f.input :instrument %>
    <%= f.input :soundcloud_url %>
    <%= f.input :spotify_url %>
    <%= f.input :bandcamp_url %>
    <%= f.input :instagram_url %>
    <%= f.input :tiktok_url %>
    <%= f.submit 'Create Profile', class: 'btn btn-primary' %>
  <% end %>
</div>
