<div class="container">


  <div class="artist_photo_div">
    <!-- Wrapper for slides -->
        <img src="<%= cl_image_path @artist.photos[0].key %>" class="photo">

        <img src="<%= cl_image_path @artist.photos[1].key %>" class="photo" alt="Responsive image">

        <img src="<%= cl_image_path @artist.photos[2].key %>" class="photo" alt="Responsive image">
  </div>

  <div class= "metrix-info">
    <a href='/artists/<%= @artist.id %>/bookings/new' class="book_me">
      <i class="fa-solid fa-calendar orange icon"></i>
      <h2>Book</h2>
    </a>
    <a href='/artists/<%=@artist.id%>/message' class="text_me">
      <i class="fa-regular fa-paper-plane icon orange"></i>
      <h2>Message</h2>
    </a>
  </div>

  <div class="second_row_info">
    <div class="name-row d-flex justify-content-between">
      <h3 class="rating">Rating</h3>
      <h2 class="artist_name"><strong><%= @artist.name %></strong></h2>
    </div>
  </div>

  <div class="description">
    <%# <p><%=@artist.location%></p>
    <div class="introduction">
      <h4>I'm in </h4><h4 class="color"><strong>LONDON</strong></h4>
    </div>
    <p><%=@artist.description%></p>
    <div class="tag">
      <p ><strong>#<%= @artist.genre%>, #<%= @artist.instrument %></strong></p>
    </div>
  </div>
  <div class= "social">
    <h4><strong>SOCIALS</strong></h4>
    <a href=<%=@artist.tiktok_url %> target=" blank">
      <i class="fa-brands fa-tiktok"></i>
      <br>
    <a href=<%=@artist.soundcloud_url %> target=" blank">
      <i class="fa-brands fa-soundcloud"></i>
      <br>
    <a href=<%=@artist.spotify_url %> target=" blank">
      <i class="fa-brands fa-spotify"></i>
      <br>
    <a href=<%=@artist.bandcamp_url %> target=" blank">
      <i class="fa-brands fa-bandcamp"></i>
      <br>
    <a href=<%=@artist.instagram_url %> target=" blank">
      <i class="fa-brands fa-instagram"></i>
  </div>
</div>
