<div class="container">

  <div data-controller="carousel" class="swiper swiper-pointer-events swiper-backface-hidden">
    <%# <!-- Wrapper for slides --> %>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" data-touch="true">
      <div class="carousel-indicators">
        <% @artist.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="true" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner swiper-wrapper">
        <% @artist.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <img src="<%= cl_image_path photo.key %>" class="photo swiper-slide">
          </div>
        <% end %>
      </div>

    </div>


  <div class= "mt-3 metrix-info">
    <a href='/artists/<%= @artist.id %>/bookings/new' class="book_me">
      <i class="fa-solid fa-calendar orange icon"></i>
      <h2>Book</h2>
    </a>
    <a href='/artists/<%=@artist.id%>/message' class="text_me">
      <i class="fa-regular fa-paper-plane icon orange"></i>
      <h2>Message</h2>
    </a>
  </div>

  <div class="second_row_info">
    <div class="name-row d-flex justify-content-between">

        <% if @artist.reviews.empty? %>
            <% artist_ratings = "New" %>
        <% else %>
            <% artist_ratings = 0 %>
            <% @artist.reviews.each do |review| %>
              <% artist_ratings += review.rating  %>
            <% end %>
            <% artist_ratings = (artist_ratings.to_f / @artist.reviews.length).round(1)%>
        <% end %>

     <%= link_to "<h3 class='rating'><span >★ #{artist_ratings}</span></h3>".html_safe, artist_reviews_path(@artist.id) %>

     <h2 class="artist_name" style=" <%= @artist.name.length > 20 ? "font-size: 150%;" : "font-size: 190%;"%>"><%= @artist.name %></h2>

    </div>
  </div>

  <div class="description">
    <div class="introduction">
      <h4 class='show-location'>Based in:<strong class="red-text">LONDON</strong></h4>
      <p>Rate <strong><%= humanized_money_with_symbol(@artist.rate) %>/hour</strong></p>
    </div>
    <p><%=@artist.description%></p>
    <div class="tag">
      <p ><strong><%= @artist.tag %></strong></p>
    </div>
  </div>
  <div class= "social">
    <h4><strong>SOCIALS</strong></h4>
    <a href=<%=@artist.tiktok_url %> target=" blank">
      <i class="fa-brands fa-tiktok"></i>
      <br>
    <a href=<%=@artist.soundcloud_url %> target=" blank">
      <i class="fa-brands fa-soundcloud"></i>
      <br>
    <a href=<%=@artist.spotify_url %> target=" blank">
      <i class="fa-brands fa-spotify"></i>
      <br>
    <a href=<%=@artist.bandcamp_url %> target=" blank">
      <i class="fa-brands fa-bandcamp"></i>
      <br>
    <a href=<%=@artist.instagram_url %> target=" blank">
      <i class="fa-brands fa-instagram"></i>
  </div>
</div>
