<div class="container">
<h2 style='font-family: "DIN bold", sans-serif'>Your bookings:</h2>
  <% @bookings.each do |booking| %>
    <div class="booking-card">
      <div class="infos">
        <img src='<%= cl_image_path booking.artist.photos[0].key %>' />
          <% title_formatted = booking.artist.name.capitalize %>
          <% start_time = DateTime.parse(booking.start_date.to_s) %>
          <% end_time = DateTime.parse(booking.end_date.to_s) %>
          <% booking_duration = end_time - start_time %>

          <div class="meta">
            <h5 class='artist'><em class='red-text'><strong><%= title_formatted %></em></strong></h5>
            <% if booking.confirmed %>
              <h6 class='title'><em>(booking ref: #<%= booking.id %>)</em></h6>
            <% end %>
              <div class="booking-content">
                <div class="booking-content-part1">
                  <p class='location'><strong>Location:  </strong><%= booking.location.capitalize %></p>
                  <p class='type'><strong>Event type:  </strong><%= booking.event_type.capitalize %></p>
                  <p class='duration'><%= start_time.strftime('%d %m %Y').split.join('/') %> - <%= start_time.strftime('%H %M').split.join('h') %></p>
                  <p class='duration'><%= end_time.strftime('%d %m %Y').split.join('/') %> - <%= end_time.strftime('%H %M').split.join('h') %></p>
                  <% if booking.confirmed %>
                    <p class="confirmation green-text">Confirmed <i class="fa-solid fa-check"></i></p>
                  <% else %>
                    <p class="confirmation red-text">Awaiting confirmation</i></p>
                  <% end %>
                  <% if booking.paid %>
                    <p  class="paid green-text">Paid <i class="fa-solid fa-check"></i></p>
                  <% else %>
                    <p class="paid red-text">Awaiting Payment</p>
                    <%= link_to 'Pay Now', '/', class: 'btn btn-success pay-button' %>
                  <% end %>
                </div>
                <% if booking.confirmed && booking.paid %>
                <div class="booking-content-part2 gray">
                  <%= link_to 'Leave a review', new_artist_review_path(booking.artist_id)%>
                </div>
                <% end %>
            </div>
          </div>
        </div>
    </div>
    <div class='form-seperator mt-3'></div>
  <% end %>
</div>
