<div class="container">
  <div class="row py-4">
    <div class="col">
      <% if @order.state = 'paid' %>
        <% color = 'green-text' %>
      <% else %>
        <% color = 'red-text' %><
      <% end %>
      <h1>Booking (ref#<%= @order.id %>), Status: <em class='<%=color%>'><%= @order.state.capitalize %></em></h1>
      <ul class="list-unstyled">
        <li><strong>Paid on:</strong>: <%= @order.created_at.to_date %></li>
        <li><strong>Artist</strong>: <%= @order.booking.artist.name %></li>
        <li><strong>TOTAL</strong>: <%= humanized_money_with_symbol @order.price_cents %></li>
        </li>
      </ul>
      <%= link_to 'Return to my bookings', bookings_path %> <br>
      <a href='/artists/<%=@order.booking.artist.id%>/message'>Message Artist</a>
    </div>
  </div>
</div>
