<div class="container">
  <div id="chat-container" data-controller='messageroom-subscription' data-messageroom-subscription-room-id-value='<%=@room.id%>' data-messageroom-subscription-user-id-value='<%= current_user.id %>'>
    <%# <h2>Chat between <em>You</em> and <em class='red-text'><%= @other_user.first_name %>
    <% if @other_user.artist %>
      <a href="/artists/<%= @other_user.artist.id %>">
    <% else %>
      <a href="">
    <% end %>
        <div class="recipient-info">
        <% if @other_user.artist %>
            <img src="<%= cl_image_path @other_user.artist.photos[0].key%>" alt="<%=@other_user.artist.name%> picture" class='avatar'>
            <h2><em class='red-text'><%= @other_user.artist.name %></em></h2>
        <% else %>
            <img src="<%= cl_image_path @other_user.avatar.key %>" alt="<%=@other_user.first_name%> portrait" class='avatar'>
            <h2><em class='blue-text'><%= @other_user.first_name %> <%= @other_user.last_name %></em></h2>
        <% end %>
        </div>
      </a>

    <div class="messages-container" data-messageroom-subscription-target="messages">
    <%# <img src="/images/background_img.jpeg" alt="pleeeeease fucking work"> %>
      <% @messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>


    <%= simple_form_for [@room, @message],html: { class: "chat-form"} do |f| %>
    <%= f.input :content, placeholder: 'Write your message...', label: false, input_html: { data: {messageroom_subscription_target: 'input'} } %>
    <%= button_tag type: 'submit', class: "btn btn-primary" do %>
      <i class="fa-regular fa-paper-plane"></i>
    <% end %>
    <% end %>
  </div>
</div>
