<div class="container">
  <div id="chat-container" data-controller='messageroom-subscription' data-messageroom-subscription-room-id-value='<%=@room.id%>' data-messageroom-subscription-user-id-value='<%= current_user.id %>'>
    <%# <h2>Chat between <em>You</em> and <em class='red-text'><%= @other_user.first_name %>
    <div class="recipient-info">
    <img src="<%= cl_image_path @other_user.avatar.key %>" alt="" class="avatar">
    <% if @other_user.artist %>
        <h2><em class='red-text'><%= @other_user.artist.name %></em></h2>
    <% else %>
        <h2><em class='blue-text'><%= @other_user.first_name %> <%= @other_user.last_name %></em></h2>
    <% end %>


    </div>
    <div class="messages-container" data-messageroom-subscription-target="messages">
      <% @messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>


    <%= simple_form_for [@room, @message],html: { class: "chat-form"} do |f| %>
    <%= f.input :content, placeholder: 'Write your message...', label: false, input_html: { data: {messageroom_subscription_target: 'input'} } %>
    <%= f.submit 'Send', class: 'btn btn-primary', data: { action: 'click->messageroom-subscription#submit', action: 'touchstart->messageroom-subscription#submit' } %>
    <% end %>
  </div>
</div>
