<div class="container review-page">
    <div class="top">
      <%= link_to '<i class="fa-solid fa-arrow-left back-button"></i>'.html_safe, artist_path(@artist) %>
      <h1><strong class='red-text'><%=@artist.name  %></strong></h1>
    </div>
  <div class="heading">
    <h2><% if @artist.reviews.empty? %>
            <% artist_ratings = "New" %>
        <% else %>
            <% artist_ratings = 0 %>
            <% @artist.reviews.each do |review| %>
              <% artist_ratings += review.rating  %>
            <% end %>
            <% artist_ratings = (artist_ratings.to_f / @artist.reviews.length).round(1)%>
        <% end %>
      <span >★ <%= artist_ratings%>  </span></h2>
      <h3><%= @artist.reviews.length %> reviews</h3>
  </div>
  <% @reviews.each do |review| %>
      <br>
        <div class="review_card">

          <div class="review_header">
            <div class="left">
              <img src="<%= cl_image_path review.user.avatar.key %>" alt="avatar" class="avatar">
              <div id="review"><p><strong><%= review.user.first_name.upcase %> <%= review.user.last_name.upcase %></strong>,</p></div>
            </div>

              <% rating_number = review.rating.to_i %>
              <% rating_star = []%>
              <% rating_number.times do %>
              <% rating_star << '★' %>
              <% end %>

            <div id="stars"><p><%= rating_star.join %></p></div>
          </div>

            <p class="comment">
              "<%= review.comment %>"
              <span class="date"><%= review.created_at.strftime("%d/%m/%Y") %></span>
            </p>

        </div>
  <% end %>


</div>
